:root {
    --main: rgb(7, 6, 14);
    --alternate: rgb(9, 9, 17);
}

::-webkit-scrollbar {
    width: 0;
}

#menu {
    display: none;
    cursor: pointer;
}

@font-face {
    font-family: manrope;
    src: url(/font/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: darker;
    src: url(/font/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--main);
    margin: 0;
    padding: 0;
}

.fetchheading {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
        z-index: 1000;
}

.fetchheading .thefetchcontainer {
    padding: 25px 20px;
    background:  transparent;
    -webkit-backdrop-filter: blur(90px);
    backdrop-filter: blur(90px);
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
}

.thefetchcontainer .firstside,
.secondside,
a {
    color: white;
    text-decoration: none;
    font-family: manrope;
}

.thefetchcontainer .secondside a {
    padding-left: 40px;
    cursor: pointer;
    position: relative;
}

.thefetchbody {
    width: 100%;
    margin-top: 130px;
    padding: 10px 150px;
    display: flex;
    justify-content: center;
}

.thefetchbody .thecontents {
    width: 100%;
    color: white;
    text-align: center;
}

.thecontents h1 {
    font-family: manrope;
    text-align: center;
    letter-spacing: 5px;

}

.thecontents .thedescription p {
    font-family: darker;
    text-align: center;
}

.thedescription .thefeaturing {
    margin-top: 30px;
    width: 100%;
    display: flex;
    padding: 30px 0px;
    overflow-x: scroll;
}

.thefeaturing span {
    padding: 10px;
    border-radius: 100px;
    font-family: darker;
    color: white;
    border: 3px solid var(--alternate);
    margin-right: 25px;
    min-width: 200px;
    cursor: pointer;
}

@keyframes shake {
    from {
        background-color: var(--main);
        transform: scale(1);
    }

    to {
        background-color: var(--alternate);
        transform: scale(1.1);
    }
}

@keyframes even {
    from {
        background-color: var(--alternate);
        transform: scale(1.1);
    }

    to {
        background-color: var(--main);
        transform: scale(1);
    }
}

.thefeaturing span:nth-child(odd) {
    animation: shake 1s infinite;
}

.thefeaturing span:nth-child(even) {
    animation: even 1s infinite;
}

.othercontainer {
    width: 100%;
    height: 300px;
}

.othercontainer .thefeature {
    width: 100%;
}




.othercontainer .thefeature p.thc, p.thc {
    animation: autochange 4s ease-in-out infinite;
    background: linear-gradient(to left, red, blue);
    color: white;
    font-family: manrope;
    text-align: center;
    padding: 10px 15px;
    width: 200px;
    border-radius: 100px;
    transform: rotate(-20deg);

}

.sidenav {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 300px;
    display: none;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
        -webkit-backdrop-filter: blur(90px);
            backdrop-filter: blur(90px);
}

.sidenav .thestuff {
    margin-top: 20px;
    width: 100%;
}

.thestuff a {
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    transition: 0.5s ease-in-out;
    display: block;
    border-radius: 10px;
}

.thestuff a:hover {
    background-color: var(--main);
}


.thefeature .thefeaturecategory {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thefeaturecategory .feature1 {
    width: 320px;
    height: 250px;
    padding: 20px;
    background-color: var(--alternate);
    border-radius: 20px;
    position: relative;
    margin: 15px;
}

.feature1 .thefeaturecontain {
    position: relative;
        width: 100%;
            height: 100%;
}

.thefeaturecontain  span {
    font-family: darker;
}

.thefeaturecontain .thetitle {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.thefeaturecontain .thetitle p {
        color: white;
    font-family: manrope;
    text-align: center;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    width: 100%;
    background: linear-gradient(to right, rgba(1, 5, 65, 0.5), rgba(59, 1, 1, 0.5));
    border-radius: 100px;
}

.othercontainer .theusagefetch {
    width: 100%;
    position: relative;
}

.theusagefetch .thepackageusage {
    width: 100%;
}

.thepackageusage .thisistheusage {
    width: 100%;
    margin-top: 50px;
}

.thepackageusage .thisistheusage .theusagetop {
    width: 100%;
}

.theusagetop p {
    text-align: left;
    font-family: manrope;
    padding: 10px 20px;
    background-color: var(--alternate);
    border-radius: 20px;
    width: 400px;
}

.theimagecontainerguild {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.theimagecontainerguild .theinstruction {
    width: 500px;
    background-color: var(--alternate);
    position: relative;
    margin: 10px;
}

.theinstruction .theimage  img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.theinstruction .topic {
padding: 10px 15px;
color: white;
font-family: manrope;
}

.thefooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: var(--alternate);
}

.thefooter span {
    color: white;
    font-family: manrope;
    display: block;
}

.thefooter span:last-child {
    font-family: darker;
}


